In [329]:
import pandas as pd

In [330]:
data = pd.read_csv("salary_data1.csv")
data.keys()
data = data.replace(r'\\n','', regex = True)
data

,Designation,College,Degree,Years of Experience,Industry Domain,Prev Salary(PM),Prev Designation,Salary(PM)
0,Junior Engineer,abc,B.E,0,IT,10000,Junior Engineer,20000
1,Senior Engineer,xyz,B.E,3,IT,30000,Junior Engineer,40000
2,Senior Engineer,def,B.Arch,2,IT,40000,Junior Engineer,50000
3,Manager,abc,B.E,3,Infra,80000,Senior Engineer,120000
4,Senior Engineer,xyz,B.E,2,IT,25000,Junior Engineer,18000
5,Manager,def,B.E,3,Infra,25000,Senior Engineer,40100
6,Senior Engineer,abc,B.Arch,5,IT,50000,Junior Engineer,70000
7,Manager,def,B.E,4,Infra,20000,Manager,30000
8,Junior Engineer,xyz,B.E,1,IT,20000,Junior engineer,50000
9,Manager,xyz,B.E,4,Infra,25000,Senior engineer,30000
10,Senior Engineer,abc,B.E,1,IT,25000,Junior engineer,30000
11,Senior Engineer,abc,B.E,2,Infra,15000,Junior Engineer,45000
12,Senior Engineer,def,B.Arch,3,IT,40000,Senior engineer,60000
13,Senior Engineer,def,B.Arch,3,Infra,17000,Junior Engineer,27500
14,Senior Engineer,def,B.Arch,3,IT,10000,Senior Engineer,70000
15,Manager,abc,B.E,5,Infra,50000,Senior Engineer,70000
16,Manager,def,B.Arch,3,Infra,40000,Junior engineer,65790
17,Senior Engineer,abc,B.E,4,IT,20000,Junior Engineer,90000
18,Manager,def,B.E,1,Infra,10000,Junior Engineer,30000
19,Senior Engineer,xyz,B.Arch,6,IT,200000,Junior Engineer,20000
20,Junior Engineer,abc,B.E,4,Infra,10000,Junior Engineer,10000
21,Senior Engineer,abc,B.E,3,Infra,25000,Junior Engineer,59876
22,Manager,def,B.E,4,IT,30000,Senior Engineer,45123
23,Senior Engineer,abc,B.E,3,IT,40000,Senior Engineer,60765
24,Manager,def,B.E,2,IT,40000,Senior Engineer,500857
25,Manager,def,B.E,1,Infra,20000,Senior Engineer,50000
26,Manager,def,B.E,3,Infra,20000,Junior Engineer,67000
27,Junior Engineer,abc,B.Arch,2,Infra,90000,Junior Engineer,120000
28,Senior Engineer,abc,B.E,5,IT,20000,Junior Engineer,54102
29,Junior Engineer,xyz,B.E,7,IT,8000,Junior Engineer,30000
...,...,...,...,...,...,...,...,...
70,Junior Engineer,abc,B.E,4,Infra,10000,Junior Engineer,10000
71,Senior Engineer,abc,B.E,3,Infra,25000,Junior Engineer,59876
72,Manager,def,B.E,4,IT,30000,Senior Engineer,45123
73,Senior Engineer,abc,B.E,3,IT,40000,Senior Engineer,60765
74,Manager,def,B.E,2,IT,40000,Senior Engineer,500857
75,Manager,def,B.E,1,Infra,20000,Senior Engineer,50000
76,Manager,def,B.E,3,Infra,20000,Junior Engineer,67000
77,Junior Engineer,abc,B.Arch,2,Infra,90000,Junior Engineer,120000
78,Senior Engineer,abc,B.E,5,IT,20000,Junior Engineer,54102
79,Junior Engineer,xyz,B.E,7,IT,8000,Junior Engineer,30000
80,Senior Engineer,def,B.Arch,4,Infra,10000,Junior Engineer,500
81,Junior Engineer,def,B.E,9,IT,10000,Junior Engineer,134000
82,Senior Engineer,abc,B.Arch,1,IT,20000,Junior Engineer,20000
83,Junior Engineer,abc,B.E,2,IT,100000,Junior Engineer,300000
84,Junior Engineer,def,B.E,3,Infra,20000,Junior Engineer,96874
85,Senior Engineer,abc,B.E,1,IT,20000,Junior Engineer,56000
86,Senior Engineer,xyz,B.Arch,6,IT,10000,Junior Engineer,97000
87,Manager,abc,B.E,3,Infra,20000,Senior Engineer,75000
88,Manager,def,B.E,1,IT,1000,Senior Engineer,85000
89,Senior Engineer,xyz,B.Arch,7,Infra,20000,Senior Engineer,110000
90,Junior Engineer,abc,B.E,1,Infra,10000,Senior Engineer,21500
91,Senior Engineer,abc,B.E,4,IT,15000,Junior Engineer,20000
92,Senior Engineer,xyz,B.E,7,IT,40000,Junior Engineer,69000
93,Manager,xyz,B.Arch,4,IT,47000,Junior Engineer,67000
94,Senior Engineer,abc,B.E,10,Infra,45000,Junior Engineer,75000
95,Manager,xyz,B.E,2,IT,35000,Senior Engineer,72450
96,Junior Engineer,abc,B.Arch,8,Infra,20000,junior engineer,89900
97,Senior Engineer,def,B.Arch,5,IT,23000,Junior Engineer,66789
98,Senior Engineer,def,B.E,4,Infra,40000,Junior Engineer,76543
99,Manager,abc,B.E,9,IT,40000,Senior Engineer,20000

In [331]:
data["Prev Designation"] = data["Prev Designation"].str.strip()
data["College"] = data["College"].str.strip(r'\\n')

In [332]:
data["Prev Designation"] = data["Prev Designation"].str.lower()

In [333]:
data["Designation"] = "current" + data["Designation"]
data["Prev Designation"] = "prev" + data["Prev Designation"]
data["Prev Designation"].value_counts()

prevjunior engineer    66
prevsenior engineer    32
prevmanager             2
Name: Prev Designation, dtype: int64

In [334]:
data["Designation"].value_counts()
data["College"].value_counts()

abc    42
def    36
xyz    22
Name: College, dtype: int64

In [335]:
temp = pd.get_dummies(data["College"])
data = data.drop("College", axis = 1)
data = data.join(temp)

In [336]:
temp = pd.get_dummies(data["Prev Designation"])
data = data.drop("Prev Designation", axis=1)
data = data.join(temp)

In [337]:
temp = pd.get_dummies(data["Degree"])
data = data.drop("Degree", axis=1)
data = data.join(temp)

In [338]:
temp = pd.get_dummies(data["Industry Domain"])
data = data.drop("Industry Domain", axis=1)
data = data.join(temp)

In [339]:
temp = pd.get_dummies(data["Designation"])
data = data.drop("Designation", axis=1)
data = data.join(temp)
data

,Years of Experience,Prev Salary(PM),Salary(PM),abc,def,xyz,prevjunior engineer,prevmanager,prevsenior engineer,B.Arch,B.E,IT,Infra,currentJunior Engineer,currentManager,currentSenior Engineer
0,0,10000,20000,1,0,0,1,0,0,0,1,1,0,1,0,0
1,3,30000,40000,0,0,1,1,0,0,0,1,1,0,0,0,1
2,2,40000,50000,0,1,0,1,0,0,1,0,1,0,0,0,1
3,3,80000,120000,1,0,0,0,0,1,0,1,0,1,0,1,0
4,2,25000,18000,0,0,1,1,0,0,0,1,1,0,0,0,1
5,3,25000,40100,0,1,0,0,0,1,0,1,0,1,0,1,0
6,5,50000,70000,1,0,0,1,0,0,1,0,1,0,0,0,1
7,4,20000,30000,0,1,0,0,1,0,0,1,0,1,0,1,0
8,1,20000,50000,0,0,1,1,0,0,0,1,1,0,1,0,0
9,4,25000,30000,0,0,1,0,0,1,0,1,0,1,0,1,0
10,1,25000,30000,1,0,0,1,0,0,0,1,1,0,0,0,1
11,2,15000,45000,1,0,0,1,0,0,0,1,0,1,0,0,1
12,3,40000,60000,0,1,0,0,0,1,1,0,1,0,0,0,1
13,3,17000,27500,0,1,0,1,0,0,1,0,0,1,0,0,1
14,3,10000,70000,0,1,0,0,0,1,1,0,1,0,0,0,1
15,5,50000,70000,1,0,0,0,0,1,0,1,0,1,0,1,0
16,3,40000,65790,0,1,0,1,0,0,1,0,0,1,0,1,0
17,4,20000,90000,1,0,0,1,0,0,0,1,1,0,0,0,1
18,1,10000,30000,0,1,0,1,0,0,0,1,0,1,0,1,0
19,6,200000,20000,0,0,1,1,0,0,1,0,1,0,0,0,1
20,4,10000,10000,1,0,0,1,0,0,0,1,0,1,1,0,0
21,3,25000,59876,1,0,0,1,0,0,0,1,0,1,0,0,1
22,4,30000,45123,0,1,0,0,0,1,0,1,1,0,0,1,0
23,3,40000,60765,1,0,0,0,0,1,0,1,1,0,0,0,1
24,2,40000,500857,0,1,0,0,0,1,0,1,1,0,0,1,0
25,1,20000,50000,0,1,0,0,0,1,0,1,0,1,0,1,0
26,3,20000,67000,0,1,0,1,0,0,0,1,0,1,0,1,0
27,2,90000,120000,1,0,0,1,0,0,1,0,0,1,1,0,0
28,5,20000,54102,1,0,0,1,0,0,0,1,1,0,0,0,1
29,7,8000,30000,0,0,1,1,0,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,4,10000,10000,1,0,0,1,0,0,0,1,0,1,1,0,0
71,3,25000,59876,1,0,0,1,0,0,0,1,0,1,0,0,1
72,4,30000,45123,0,1,0,0,0,1,0,1,1,0,0,1,0
73,3,40000,60765,1,0,0,0,0,1,0,1,1,0,0,0,1
74,2,40000,500857,0,1,0,0,0,1,0,1,1,0,0,1,0
75,1,20000,50000,0,1,0,0,0,1,0,1,0,1,0,1,0
76,3,20000,67000,0,1,0,1,0,0,0,1,0,1,0,1,0
77,2,90000,120000,1,0,0,1,0,0,1,0,0,1,1,0,0
78,5,20000,54102,1,0,0,1,0,0,0,1,1,0,0,0,1
79,7,8000,30000,0,0,1,1,0,0,0,1,1,0,1,0,0
80,4,10000,500,0,1,0,1,0,0,1,0,0,1,0,0,1
81,9,10000,134000,0,1,0,1,0,0,0,1,1,0,1,0,0
82,1,20000,20000,1,0,0,1,0,0,1,0,1,0,0,0,1
83,2,100000,300000,1,0,0,1,0,0,0,1,1,0,1,0,0
84,3,20000,96874,0,1,0,1,0,0,0,1,0,1,1,0,0
85,1,20000,56000,1,0,0,1,0,0,0,1,1,0,0,0,1
86,6,10000,97000,0,0,1,1,0,0,1,0,1,0,0,0,1
87,3,20000,75000,1,0,0,0,0,1,0,1,0,1,0,1,0
88,1,1000,85000,0,1,0,0,0,1,0,1,1,0,0,1,0
89,7,20000,110000,0,0,1,0,0,1,1,0,0,1,0,0,1
90,1,10000,21500,1,0,0,0,0,1,0,1,0,1,1,0,0
91,4,15000,20000,1,0,0,1,0,0,0,1,1,0,0,0,1
92,7,40000,69000,0,0,1,1,0,0,0,1,1,0,0,0,1
93,4,47000,67000,0,0,1,1,0,0,1,0,1,0,0,1,0
94,10,45000,75000,1,0,0,1,0,0,0,1,0,1,0,0,1
95,2,35000,72450,0,0,1,0,0,1,0,1,1,0,0,1,0
96,8,20000,89900,1,0,0,1,0,0,1,0,0,1,1,0,0
97,5,23000,66789,0,1,0,1,0,0,1,0,1,0,0,0,1
98,4,40000,76543,0,1,0,1,0,0,0,1,0,1,0,0,1
99,9,40000,20000,1,0,0,0,0,1,0,1,1,0,0,1,0

In [340]:
from sklearn.model_selection import train_test_split 
y = data["Salary(PM)"]
x = data.drop("Salary(PM)", axis = 1)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,shuffle = False)
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

70
30
70
30

In [341]:
from sklearn.tree import DecisionTreeRegressor

In [342]:
dt_regressor = DecisionTreeRegressor(max_depth = 17)
dt_regressor.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=17, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [343]:
y_predict = dt_regressor.predict(x_test)
y_predict

array([1.00000e+04, 5.98760e+04, 4.51230e+04, 6.07650e+04, 5.00857e+05,
       5.00000e+04, 6.70000e+04, 1.20000e+05, 5.41020e+04, 3.00000e+04,
       5.00000e+02, 1.34000e+05, 2.00000e+04, 3.00000e+05, 9.68740e+04,
       5.60000e+04, 9.70000e+04, 7.50000e+04, 8.50000e+04, 1.10000e+05,
       2.15000e+04, 2.00000e+04, 6.90000e+04, 6.70000e+04, 7.50000e+04,
       7.24500e+04, 8.99000e+04, 6.67890e+04, 7.65430e+04, 2.00000e+04])

In [344]:
y_test

70     10000
71     59876
72     45123
73     60765
74    500857
75     50000
76     67000
77    120000
78     54102
79     30000
80       500
81    134000
82     20000
83    300000
84     96874
85     56000
86     97000
87     75000
88     85000
89    110000
90     21500
91     20000
92     69000
93     67000
94     75000
95     72450
96     89900
97     66789
98     76543
99     20000
Name: Salary(PM), dtype: int64

In [345]:
dt_regressor.score(x_train,y_train)

1.0

In [346]:
dt_regressor.score(x_test,y_test)

1.0

In [347]:
from sklearn import tree
from IPython.display import Image
import pydotplus
dot_data = tree.export_graphviz(dt_regressor, out_file = None)
graph = pydotplus.graph_from_dot_data(dot_data)
Image(graph.create_png())
graph.write_png("salary_data14.png")

True